@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
  --text-color: #49557e;
  --primary-color: tomato;
  --spaces:30px;
  --primary-font: 'Outfit', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.App{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width: 777px) {
  .App{
    width: 90%;
  }
}